@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#top {
	width:1260px;
	height:30px;
	text-align:center;
	margin-top:10px;
	padding:10px;
	border-bottom:gray solid 1px;
}

#top span img {
	margin-left:300px;
	width:30px;
	height:30px;
	float:left;
}

#homepage {
	float:left;
	font-size:25px;
}


#author {
	float:right;
	margin-right:30%;
	font-size:25px;
}

#left {
	width:200px;
	height:800px;
	text-align:center;
	position:fixed;
	margin-top:30px;
}

#left p a{
	color:gray;
	font-size:18px;
	padding-top:20px;
}

#center{
	margin-left:300px;
	width:700px;
	height:100%;
	position:absolute;
}
#right{
	width:200px;
	margin-top:30px;
	margin-left:1050px;
	text-align:left;
	position:absolute;
}

#codeSource {
	font-size:15px;
	font-style:italic;
	color:gray;
}

#topics {
	float:left;
	padding:10px;
	margin:20px 20px 20px 30px;
	width:220px;
	height:280px;
	border:solid 1px gray;
	text-align:center;
}

#topics img {
	width:140px;
	height:160px;
}

#topics h2 {
	color:black;
}

#topics p{
	color:black;
}

#headline a {
 	color:#00008b
}

#headline a:hover{
 	color:#87cefa;
}

.cool {
	width:100%;
	height:100%;
	font-style:italic;
	font-size:20px;
	color:white;
	font-weight:bold;
	background-color:black;
	display:none;
	position:absolute;
}

.cool pre{
	margin:100px 20px 0 300px;
}
div.pagination{
    width: 600px;
    padding: 10px 10px 20px 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}


.step-links a{
    display: block;
    font-size: 13px;
    border: 1px solid #DDD;
    padding: 8px 10px 8px 10px;
    font-weight: normal;
    /*background-color: #2099AB;*/
    color: #21759b;
    border-radius: 1px;
    text-decoration: none;
    display: inline; /* do not show the dot of list */
}

.deactive{
    color: #999999;
    border-radius: 5px;
    font-size: 12px;
    border: 1px solid #DDD;
    padding: 8px 10px 8px 10px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 1px;
    text-decoration: none;
}


body {
	font-family :"Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sa     ns-serif; 微软雅黑,宋体, 'New York';
}
a {
	text-decoration:none;
}

.fa-star-o:before {
  content:"\f006";
}
.fa-folder-o:before {
  content:"\f07c";
}
