#top {
	width:1260px;
	height:30px;
	text-align:center;
	margin-top:10px;
	padding:10px;
	border-bottom:gray solid 1px;
}

#homepage {
	margin-left:30%;
	float:left;
}

#author {
	float:right;
	margin-right:30%;
}

#left {
	width:200px;
	height:800px;
	text-align:center;
	position:fixed;
	margin-top:30px;
}

#left p a{
	color:gray;
	font-size:20px;
	padding-top:20px;
}

#center{
	margin-left:300px;
	width:700px;
	height:100%;
	position:absolute;
}
#right{
	width:200px;
	margin-top:30px;
	margin-left:1050px;
	text-align:left;
	position:absolute;
}

#codeSource {
	font-size:15px;
	font-style:italic;
	color:gray;
}

.cool {
	width:100%;
	height:100%;
	font-style:italic;
	font-size:20px;
	color:white;
	font-weight:bold;
	background-color:white;
	display:none;
	position:absolute;
}

.cool pre{
	margin:100px 20px 0 300px;
}

a {
	text-decoration:none;
}
