{% load staticfiles %}
<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/my.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
	<title>Damon's blog</title>
</head>

<body>
<div id="main">
	<div id="top">
		<span id="homepage"><a href="{% url 'blog:index' %}">主页</a></span>
		<span id="author"><a href="{% url 'blog:aboutme' %}">关于作者</a></span>
	</div>

	<div id="left">
		<p><a href="{% url 'blog:topic' %}">所有专题</a></p>
		<p><a href="{% url 'blog:like' %}">按喜爱量</a></p>
		<p><a href="{% url 'blog:reply' %}">按回复量</a></p>
	</div>


	<div id="right">
		<p>最新发布</p>
		<p>最新发布a</p>
		<p>最新发布aa</p>
		<p>最新发布aa</p>
		<p>最新发布</p>
		<p>最新发布</p>
		<p>最新发布</p>
		<p>最新发布</p>
		</br>
		<p>全部文档</p>
		<p>最新发布a</p>
		<p>最新发布aa</p>
		<p>最新发布aa</p>
		<p>最新发布</p>
		<p>最新发布</p>
		<p>最新发布</p>
		<p>最新发布</p>
	</div>
</div>
<div id="center">
	{% block content %}
	{% endblock %}
</div>
</body>
</html>
