{% load staticfiles %}
<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "js/my.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
	<title>damon blog</title>
</head>

<body>
	<!--左边的div，一直浮动在页面的左侧,页面的滚动同时保持其位置不变-->
		<!--菜单-->
	<div class=left>
		<ul id="menu">
			<li><a href="{% url 'blog:index' %}">首页</a></li>
			<li><a href="{% url 'blog:topics' %}">专题</a></li>
			<li><a href="{% url 'blog:likest' %}">喜欢</a></li>
			<li><a href="{% url 'blog:publish' %}">发表</a></li>
		</ul>
	</div>
	<img src="{% static "img/moth.jpg" %}"/ id="moth"> 
	<div class="picshow">
		{% block picshow %}<img src="{% static "img/damon.jpeg" %}"/>  {% endblock %}
	</div>
	{% block content %}{% endblock %}
</body>
</html>
