<!DOCTYPE>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="article">
	<h2>所有文章</h2>
</div>

<div id=topicTop>
	{% for article in articles %}
		<a href={% url 'blog:articles' article.id %}>
			<h2>{{article.headline}}</h2>
		</a>
		<p>{% autoescape off %} {{ article.content|removetags:"a div p span br pre img h1 h2 h3"|truncatechars:150}} {% endautoescape %}
		</p>
		<p>
			<span>发布时间:{{ article.pub_date }}</span>&nbsp&nbsp&nbsp&nbsp
			<span>所属专题:{{article.label}}</span>&nbsp&nbsp&nbsp&nbsp
			<a href="{% url 'blog:comments' article.id %}"style="cursor:pointer"><span>评论:</a>&nbsp&nbsp&nbsp&nbsp {{ article.discuss}}</span>&nbsp&nbsp&nbsp&nbsp
            <span><a class="likeit" style="cursor:pointer" data-article_id="{{ article.id}}"><img src="{% static "img/like.png" %}"/> &nbsp; {{ article.like }} </a> </span>
		</p>
	{% endfor %}
</div>

{% endblock %}
